# Python virtual environment
venv/
__pycache__/
*.py[cod]

# Flask specific
instance/
.webassets-cache
*.egg-info/
*.egg

# Database files
*.sqlite3
*.db

# Migrations
migrations/

# IDE and editor specific
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
*.env

# Logs
*.log

# Test coverage
htmlcov/
coverage.xml
.coverage

# Backup files
*.bak
*.tmp
